name: Build firmware

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2
      - name: Prepare Env
        run: | 
            sudo apt install yui-compressor libxml2-utils flex 
            wget -q https://github.com/roleoroleo/sonoff-hack/releases/download/toolchain-0.0.1/arm-sonoff-linux-uclibcgnueabi.tgz
            tar xf arm-sonoff-linux-uclibcgnueabi.tgz && rm -rf arm-sonoff-linux-uclibcgnueabi.tgz
            git submodule update --init
      
      - name: Build Submodules
        run: |    
            ./scripts/compile_ci_pre.sh

      - name: Build stuff
        run: |    
            ./scripts/compile_ci_post.sh

      - name: Pack stuff
        run: |    
            sudo ./scripts/pack_fw.all.sh
            ls -la
            pwd           
            
      - name: Upload Artifact GK-200MP2B
        uses: actions/upload-artifact@v2
        with:
          name: GK-200MP2B.tar.gz
          path: out/GK-200MP2B/**.tgz

      - name: Upload Artifact GK-200MP2C
        uses: actions/upload-artifact@v2
        with:
          name: GK-200MP2C.tar.gz
          path: out/GK-200MP2C/**.tgz
